# Compressed files
*.zip

# Environment variables
*.env

# Terraform
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl

#Golang build
bootstrap

#VS Code config
*.editorconfig
*.yml