<div class="flex flex-col items-center h-screen">
  <div class="text-center text-5xl font-bold font-poppins p-4">
    Track 😈
  </div>

  <div class="px-2 mx-[5%] text-center text-base font-light leading-[22.5px]">
    <p>
      Una ayudita pa' recordar lo que hacés
    </p>
  </div>

  <div class="flex flex-grow items-center justify-center w-full">
    @if (userTrackingOptions().length === 0) {
      <img src="/bg_empty.svg" alt="bolita" class="w-80 h-80" />
      }@else{
      <div class="grid grid-cols-2 gap-4">
        @for (item of userTrackingOptions(); track item) {
          <button
            class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none">
            {{ item }}
          </button>
        }
      </div>
    }
  </div>

  <div class="flex justify-center w-full mb-8">
    <img src="/add-circle.svg" alt="bolita" class="w-24 h-24 cursor-pointer" (click)="showModal.set(true)" />
  </div>

  @if (showModal()){
    <div class="fixed inset-0 pt-20 flex items-center justify-center z-50">
      <div class="w-96 bg-transparent p-6">
        <app-add-tracker [inputAvailableOptions]="['Shower', 'Run', 'Read']" (close)="showModal.set(false)">
        </app-add-tracker>
      </div>
    </div>
  }
</div>