<div class="h-screen w-screen bg-[#f55c32] flex justify-center items-center">
  <div class="relative w-full h-full">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 w-full h-full">
      <img src="/track_view.svg" alt="bolita" class="h-full w-auto" #imageRef />
    </div>

    <!-- Contenedor de contenido superpuesto -->
    <div class="relative z-10 flex flex-col items-center w-full h-full">
      <div class="mt-6 text-center text-5xl font-bold font-poppins ">
        <p class="m-0">😈</p>
        <p class="m-0">Track</p>

      </div>

      <div class="mt-8 px-2 mx-[5%] text-center text-base font-bold leading-[22.5px] text-white space-y-2">
        <p class="bg-[#465AE1] inline-block px-2 ">Una ayudita </p> <span class="bg-transparent"> 😘</span> <br />
        <p class="bg-[#465AE1] inline-block px-2 ">pa recordar lo</p><br />
        <p class="bg-[#465AE1] inline-block px-2 ">que haces</p>
      </div>

      <div class="flex flex-grow items-center justify-center w-full">
        <!-- Bloque condicional: muestra imagen o botones según la cantidad de opciones -->
        @if (userTrackingOptions().length === 0) {
        <img src="/bg_empty.svg" alt="bolita" class="w-80 h-80" />
        } @else {
        <div class="grid grid-cols-2 gap-4">
          @for (item of userTrackingOptions(); track item) {
          <button class="px-4 py-2 text-white bg-[#D5FF3B] rounded hover:bg-blue-700 focus:outline-none">
            {{ item }}
          </button>
          }
        </div>
        }
      </div>

      <div class="flex justify-center w-full mb-8">
        <img src="/add-circle.svg" alt="bolita" class="w-16 h-16 cursor-pointer" (click)="showModal.set(true)" />
      </div>
    </div>

    <!-- Modal (si se debe mostrar) -->
    @if (showModal()){
    <div class="fixed inset-0 pt-20 flex items-center justify-center z-50">
      <div class="w-96 bg-transparent p-6">
        <app-add-tracker [inputAvailableOptions]="['Shower', 'Run', 'Read']" (close)="showModal.set(false)">
        </app-add-tracker>
      </div>
    </div>
    }
  </div>
</div>