<div class="text-center text-5xl font-bold font-poppins p-4">HOLA SORRITAS 😘</div>

<div class="px-2 mx-[5%] text-center text-base font-light leading-[22.5px]">
  <p>
    Bueno, aquí vas a poder usar el bot <strong class="font-bold">SORRA</strong>, tendrás una
    lista de opciones de comandos, solo es dar click, no es muy duro
  </p>
</div>
<div class="m-2 w-full justify-center grid">
  <button (click)="trackHandler()" class="w-[300px] h-[45px] rounded-lg m-3 bg-[#883aeacc] font-poppins text-base font-medium leading-[22.5px] text-white cursor-pointer shadow-lg border-transparent">
    Track 😈
  </button>
  <button (click)="reportHandler()" class="w-[300px] h-[45px] rounded-lg m-3 bg-[#883aeacc] font-poppins text-base font-medium leading-[22.5px] text-white cursor-pointer shadow-lg border-transparent">
    Report 🥵
  </button>
  <button (click)="wishlistHandler()" class="w-[300px] h-[45px] rounded-lg m-3 bg-[#883aeacc] font-poppins text-base font-medium leading-[22.5px] text-white cursor-pointer shadow-lg border-transparent">
    Wishlist 🤑
  </button>
  <div class="absolute bottom-0 w-full flex justify-center">
    <img src="/bola-amarilla.svg" alt="bolita" width="100" height="100" />
  </div>
</div>