<div class="flex flex-col items-center justify-center min-h-screen p-4">
  
  <div class="text-5xl font-bold leading-tight text-center font-poppins p-4 sm:text-6xl">
    HOLA SORRITAS 😘
  </div>

  <div class="m-4 p-2 text-sm font-normal leading-6 text-center sm:text-base sm:leading-7">
    <p>
      Bueno, aquí vas a poder usar el bot <strong>SORRA</strong>, tendrás una
      lista de opciones de comandos, solo es dar click, no es muy duro
    </p>
  </div>


  <div class="grid gap-4 w-full max-w-md sm:max-w-lg">
    <button
      (click)="trackHandler()"
      class="w-full h-12 rounded-lg bg-[#883aeacc] font-poppins text-sm font-medium leading-6 text-center text-white shadow-md hover:bg-[#883aea] focus:ring-2 focus:ring-[#883aea] focus:outline-none"
    >
      Track 😈
    </button>
    <button
      (click)="reportHandler()"
      class="w-full h-12 rounded-lg bg-[#883aeacc] font-poppins text-sm font-medium leading-6 text-center text-white shadow-md hover:bg-[#883aea] focus:ring-2 focus:ring-[#883aea] focus:outline-none"
    >
      Report 🥵
    </button>
    <button
      (click)="wishlistHandler()"
      class="w-full h-12 rounded-lg bg-[#883aeacc] font-poppins text-sm font-medium leading-6 text-center text-white shadow-md hover:bg-[#883aea] focus:ring-2 focus:ring-[#883aea] focus:outline-none"
    >
      Wishlist 🤑
    </button>
  </div>

  <div class="absolute bottom-4 flex justify-center w-full">
    <img src="/bola-amarilla.svg" alt="bolita" class="w-24 h-24 sm:w-32 sm:h-32" />
  </div>
</div>
