<div class="h-screen w-screen bg-[#465AE1] flex justify-center items-center">
  <div class="relative w-full h-full flex justify-center items-end">
      <div class="absolute inset-0 w-full h-full flex justify-center items-end">
          <img src="/principal_view.svg" alt="bolita" class="h-full w-auto" #imageRef />
      </div>
      
      <div class="relative z-10 flex flex-col items-center pb-6 w-full" #buttonContainer [ngStyle]="{'max-width': buttonWidth}">
          <button (click)="trackHandler()" class="h-[35px] rounded-full m-3 bg-[#D5FF3B] font-poppins text-base font-medium leading-[18px] text-[#465AE1] cursor-pointer shadow-lg border-transparent w-full">
              Track 😈
          </button>
          <button (click)="reportHandler()" class="h-[35px] rounded-full m-3 bg-[#D5FF3B] font-poppins text-base font-medium leading-[18px] text-[#465AE1] cursor-pointer shadow-lg border-transparent w-full">
              Report 🥵
          </button>
          <button (click)="wishlistHandler()" class="h-[35px] rounded-full m-3 bg-[#D5FF3B] font-poppins text-base font-medium leading-[18px] text-[#465AE1] cursor-pointer shadow-lg border-transparent w-full">
              Wishlist 🤑
          </button>
      </div>
  </div>
</div>